.explore-content-box {
  width: 38rem;
  height: 50rem;
  background: rgb(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  margin-top: 2rem;
  border-radius: 1rem;
}

.like-dislike {
  position: fixed;
  bottom: 5vh;
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.loc-img {
  margin-left: 7.7rem;
}

.dis2 {
  color: white;
  margin: 0;
  font-size: 15px;
}

.loc-name {
  font-size: larger;
}

.i-button {
  background: none;
  border: none;
  cursor: pointer;
}

.i-button:hover {
  stroke: black;
}

.dislike {
  background: transparent;
  border: transparent;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.2));
  /* cursor: pointer; */
}

.like:hover {
  stroke: rgb(70, 42, 11);
}

.like {
  background: transparent;
  border: transparent;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.2));
  /* cursor: pointer; */
}

.title {
  margin-left: 3.4rem;
}

.logo {
  margin-left: 2rem;
}

.message {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: 14.5rem;
  color: saddlebrown;
  font-weight: 590;
  font-size: 1.7rem;
  font-family: "Montserrat", sans-serif;
}

