.like-dislike {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem;
}

.loc-img {
  margin-left: 7.7rem;
}

.dis {
  color: white;
  margin: 0;
  font-size: 15px;
}

.loc-name{
  font-size: larger;
}



.info-button:hover {
  color: grey;
}

svg path {
  stroke: white;
}

svg path:hover {
  stroke: blue;
}